n8n-workflows/competitor-web-sync.json
{
  "name": "Competitor Web Traffic Sync (Apify SimilarWeb)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 4
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Schedule (daily 04:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -600,
        0
      ]
    },
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Configuración: dominios a trackear y su nombre legible para el dashboard.\n// Para sumar/sacar competidores, editá este array.\n\nconst COMPETIDORES = [\n  { competidor: 'Drean',          dominio: 'drean.com.ar',            es_propio: true  },\n  { competidor: 'Electrolux',     dominio: 'tienda.electrolux.com.ar', es_propio: false },\n  { competidor: 'Gafa',           dominio: 'tienda.gafa.com.ar',       es_propio: false },\n  { competidor: 'Philco',         dominio: 'philco.com.ar',            es_propio: false },\n  { competidor: 'Philco (Newsan)',dominio: 'tiendanewsan.com.ar',      es_propio: false },\n  { competidor: 'Whirlpool',      dominio: 'whirlpool.com.ar',         es_propio: false },\n];\n\nreturn [{\n  json: {\n    competidores: COMPETIDORES,\n    fecha: new Date().toISOString().slice(0, 10),\n  },\n}];\n"
      },
      "id": "node-set-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        100
      ]
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "tri_angle/similar-web-scraper",
          "mode": "list",
          "cachedResultName": "SimilarWeb Scraper (tri_angle/similar-web-scraper)"
        },
        "customBody": "={{ JSON.stringify({ websites: $json.competidores.map(c => c.dominio), maxItems: 10 }) }}",
        "authentication": "apifyOAuth2Api"
      },
      "id": "node-apify",
      "name": "Apify — SimilarWeb",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -160,
        100
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza la respuesta del actor SimilarWeb a filas para la tabla\n// competitor_web de Supabase.\n//\n// El actor de SimilarWeb devuelve por dominio un objeto con campos como:\n//   - name (dominio)\n//   - totalVisits / monthlyVisits (visitas estimadas)\n//   - uniqueVisitors\n//   - bounceRate, pagesPerVisit, avgVisitDuration\n//   - trafficSources / engagements.trafficSources (objeto con %)\n//   - topPages / pages (array)\n//   - topCountries / countries (array)\n//   - topKeywords / keywords (array)\n//\n// Los nombres de campo varían entre actors. El normalize de abajo intenta\n// múltiples claves para cada métrica.\n\nconst items = $input.all();\nconst config = $('Set Config').first().json;\nconst fecha = config.fecha;\n\n// Mapa dominio → metadata (competidor name, es_propio)\nconst metaByDominio = {};\nfor (const c of config.competidores) {\n  metaByDominio[c.dominio.toLowerCase()] = c;\n}\n\nconst pick = (obj, keys) => {\n  for (const k of keys) {\n    if (obj?.[k] !== undefined && obj?.[k] !== null) return obj[k];\n  }\n  return null;\n};\n\nconst toInt = (v) => {\n  if (v === null || v === undefined || v === '') return null;\n  const n = Number(String(v).replace(/[^0-9.\\-]/g, ''));\n  return Number.isFinite(n) ? Math.round(n) : null;\n};\n\nconst toFloat = (v) => {\n  if (v === null || v === undefined || v === '') return null;\n  const n = Number(v);\n  return Number.isFinite(n) ? n : null;\n};\n\nconst output = [];\nfor (const item of items) {\n  const r = item.json;\n  const dominio = String(pick(r, ['name', 'domain', 'website', 'siteName']) || '').toLowerCase().replace(/^https?:\\/\\//, '').replace(/\\/+$/, '');\n  if (!dominio) continue;\n\n  const meta = metaByDominio[dominio] || { competidor: dominio, es_propio: false };\n\n  output.push({\n    json: {\n      fecha,\n      competidor: meta.competidor,\n      dominio,\n      visitas_estimadas: toInt(pick(r, ['totalVisits', 'monthlyVisits', 'visits', 'estimatedVisits'])),\n      visitantes_unicos: toInt(pick(r, ['uniqueVisitors', 'monthlyUniqueVisitors'])),\n      bounce_rate: toFloat(pick(r, ['bounceRate', 'bounce_rate'])),\n      pages_per_visit: toFloat(pick(r, ['pagesPerVisit', 'pages_per_visit', 'pagesPerView'])),\n      avg_visit_duration: toFloat(pick(r, ['avgVisitDuration', 'avg_visit_duration', 'averageVisitDuration'])),\n      fuentes_trafico: pick(r, ['trafficSources', 'sources', 'engagements']) || null,\n      paginas_top: pick(r, ['topPages', 'pages', 'mostPopularPages']) || null,\n      paises_top: pick(r, ['topCountries', 'countries', 'geography']) || null,\n      keywords_top: pick(r, ['topKeywords', 'keywords', 'organicKeywords']) || null,\n      source: 'apify_similarweb',\n      raw: r,\n    },\n  });\n}\n\nreturn output;\n"
      },
      "id": "node-normalize",
      "name": "Normalize to competitor_web",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        100
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "node-aggregate",
      "name": "Aggregate rows",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        320,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/competitor_web?on_conflict=fecha,competidor,source",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.data) }}",
        "options": {}
      },
      "id": "node-supabase-upsert",
      "name": "Supabase — Upsert competitor_web",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        100
      ]
    }
  ],
  "connections": {
    "Schedule (daily 04:00)": {
      "main": [[{ "node": "Set Config", "type": "main", "index": 0 }]]
    },
    "Manual trigger": {
      "main": [[{ "node": "Set Config", "type": "main", "index": 0 }]]
    },
    "Set Config": {
      "main": [[{ "node": "Apify — SimilarWeb", "type": "main", "index": 0 }]]
    },
    "Apify — SimilarWeb": {
      "main": [[{ "node": "Normalize to competitor_web", "type": "main", "index": 0 }]]
    },
    "Normalize to competitor_web": {
      "main": [[{ "node": "Aggregate rows", "type": "main", "index": 0 }]]
    },
    "Aggregate rows": {
      "main": [[{ "node": "Supabase — Upsert competitor_web", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
