n8n-workflows/drive-planning-media-sync.json
{
  "name": "Drive Planning Media Sync (Drean Pauta)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "hours", "hoursInterval": 1 }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Schedule (hourly)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-700, 0]
    },
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-700, 200]
    },
    {
      "parameters": {
        "jsCode": "// Config — editar acá si cambia el folder o el año\nreturn [{\n  json: {\n    folderId: 'REPLACE_WITH_DREAN_PAUTA_FOLDER_ID',\n    year: 2026,\n  }\n}];\n"
      },
      "id": "node-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-500, 100]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "operation": "list",
        "queryString": "='\"' + $('Set Config').first().json.folderId + '\" in parents and (mimeType=\"text/csv\" or name contains \".csv\") and trashed=false'",
        "limit": 100,
        "options": {}
      },
      "id": "node-drive-list",
      "name": "Drive — List CSVs",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-300, 100],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/csv",
              "sheetsToFormat": "text/csv"
            }
          },
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "node-drive-download",
      "name": "Drive — Download each",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-100, 100],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsea cada CSV y emite filas en formato planning_media.\n//\n// Asume filenames como 'Mes-Categoria.csv' (ej: Mayo-Refrigeracion.csv,\n// Mayo-UGC.csv). El parser extrae mes + categoria del nombre, después\n// busca dentro del CSV las columnas relevantes (Rol Of Comms, TouchPoint,\n// Sistema, Formato & Channel, y la columna de inversión del mes).\n//\n// Diseño defensivo: tolerante a variaciones en nombres de columnas.\n\nconst MONTHS = {\n  'enero':1,'febrero':2,'marzo':3,'abril':4,'mayo':5,'junio':6,\n  'julio':7,'agosto':8,'septiembre':9,'octubre':10,'noviembre':11,'diciembre':12,\n};\n\n// Normalizar nombre de categoría — sacar guiones/underscores y mapear plurales\nconst normalizeCategoria = (raw) => {\n  const s = (raw || '').replace(/[-_]/g, ' ').trim();\n  const lower = s.toLowerCase();\n  if (lower.startsWith('cocina')) return 'Cocina';\n  if (lower.startsWith('refriger')) return 'Refrigeración';\n  if (lower.startsWith('lavado')) return 'Lavado';\n  if (lower.startsWith('brand')) return 'Brand';\n  if (lower.startsWith('promo')) return 'Promoción';\n  if (lower.startsWith('ugc')) return 'UGC';\n  // Por default, capitalizar primera letra\n  return s.charAt(0).toUpperCase() + s.slice(1).toLowerCase();\n};\n\n// CSV parser que respeta comillas y comas dentro de strings\nconst parseCSVLine = (line) => {\n  const out = [];\n  let cur = '';\n  let inQ = false;\n  for (let i = 0; i < line.length; i++) {\n    const ch = line[i];\n    if (ch === '\"' && line[i+1] === '\"') { cur += '\"'; i++; }\n    else if (ch === '\"') { inQ = !inQ; }\n    else if (ch === ',' && !inQ) { out.push(cur); cur = ''; }\n    else { cur += ch; }\n  }\n  out.push(cur);\n  return out.map(c => c.trim());\n};\n\nconst parseCurrency = (v) => {\n  if (v === null || v === undefined || v === '') return null;\n  const s = String(v).trim();\n  if (s === '-' || s === '$-' || s === '$ -' || s === '$0' || s === '$ 0') return 0;\n  const cleaned = s.replace(/[\\s$]/g, '').replace(/\\./g, '').replace(',', '.');\n  const n = Number(cleaned);\n  return Number.isFinite(n) ? n : null;\n};\n\nconst COSTO_PATTERNS = [/iibb/i, /percep/i, /cheque/i, /impuesto/i, /tech\\s*fee/i, /comisi/i];\nconst esCosto = (formato) => formato && COSTO_PATTERNS.some(re => re.test(formato));\n\nconst SKIP_PATTERNS = [/^Total\\s/i, /^Total$/i, /^Subtotal/i];\nconst esSkip = (sistema, formato) => {\n  const txt = [sistema, formato].filter(Boolean).join(' ');\n  return SKIP_PATTERNS.some(re => re.test(txt));\n};\n\nconst config = $('Set Config').first().json;\nconst YEAR = config.year || 2026;\n\nconst output = [];\n\nfor (const item of $input.all()) {\n  const binaryKey = Object.keys(item.binary || {})[0];\n  if (!binaryKey) continue;\n  const bin = item.binary[binaryKey];\n  const filename = bin.fileName || item.json.name || '';\n\n  // Parsear filename: Mes-Categoria.csv\n  const m = filename.match(/^([A-Za-zÁÉÍÓÚáéíóúñÑ]+)[-_\\s]+(.+?)\\.csv$/i);\n  if (!m) {\n    console.warn(`Filename no matchea patrón Mes-Categoria.csv: ${filename}`);\n    continue;\n  }\n  const mesRaw = m[1].toLowerCase().normalize('NFD').replace(/[̀-ͯ]/g, '');\n  const mesNum = MONTHS[mesRaw];\n  if (!mesNum) {\n    console.warn(`Mes no reconocido en filename: ${filename} (mes=${mesRaw})`);\n    continue;\n  }\n  const campania = normalizeCategoria(m[2]);\n  const fecha = `${YEAR}-${String(mesNum).padStart(2, '0')}-01`;\n  const mesCapitalized = mesRaw.charAt(0).toUpperCase() + mesRaw.slice(1);\n\n  // Decodificar contenido del CSV\n  const csvText = Buffer.from(bin.data, 'base64').toString('utf-8');\n  const lines = csvText.split(/\\r?\\n/).filter(l => l.trim());\n  if (lines.length < 2) {\n    console.warn(`CSV sin filas de datos: ${filename}`);\n    continue;\n  }\n\n  // Headers (línea 1)\n  const headers = parseCSVLine(lines[0]);\n  const idx = (...names) => {\n    for (const n of names) {\n      const i = headers.findIndex(h => h.toLowerCase() === n.toLowerCase());\n      if (i >= 0) return i;\n    }\n    return -1;\n  };\n\n  const iRol     = idx('Rol Of Comms', 'Rol', 'Rol of Comms');\n  const iTouch   = idx('TouchPoint', 'Touchpoint', 'Touch Point');\n  const iSis     = idx('Sistema', 'Plataforma', 'Platform');\n  const iFmt     = idx('Formato & Channel', 'Formato', 'Formato y Channel', 'Format');\n  const iInvMes  = idx(mesCapitalized, mesRaw, mesCapitalized.toUpperCase());\n  const iInvGen  = idx('Inversion', 'Inversión', 'Inv', 'Invertido', 'Total');\n\n  // Si no hay columna del mes ni columna general → invalido\n  if (iInvMes < 0 && iInvGen < 0) {\n    console.warn(`No encontré columna de inversión en ${filename}. Headers: ${headers.join(' | ')}`);\n    continue;\n  }\n\n  for (let i = 1; i < lines.length; i++) {\n    const cols = parseCSVLine(lines[i]);\n    if (cols.length === 0) continue;\n\n    const rol     = iRol   >= 0 ? cols[iRol]   : '';\n    const touch   = iTouch >= 0 ? cols[iTouch] : '';\n    const sistema = iSis   >= 0 ? cols[iSis]   : '';\n    const formato = iFmt   >= 0 ? cols[iFmt]   : '';\n    const invStr  = iInvMes >= 0 ? cols[iInvMes] : (iInvGen >= 0 ? cols[iInvGen] : '');\n\n    if (esSkip(sistema, formato)) continue;\n\n    const inversion = parseCurrency(invStr);\n    if (inversion === null || inversion === 0) continue;\n\n    output.push({\n      json: {\n        fecha,\n        campania,\n        rol: rol || null,\n        touchpoint: touch || null,\n        sistema: sistema || null,\n        formato: formato || null,\n        inversion,\n        tipo: esCosto(formato) ? 'costo' : 'media',\n      },\n    });\n  }\n}\n\nreturn output;\n"
      },
      "id": "node-parse",
      "name": "Parse CSVs → planning_media rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, 100]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "node-aggregate",
      "name": "Aggregate rows",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [340, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/planning_media?on_conflict=fecha,campania,rol,sistema,formato,tipo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.data) }}",
        "options": {}
      },
      "id": "node-supabase-upsert",
      "name": "Supabase — Upsert planning_media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 100]
    }
  ],
  "connections": {
    "Schedule (hourly)": {
      "main": [[{ "node": "Set Config", "type": "main", "index": 0 }]]
    },
    "Manual trigger": {
      "main": [[{ "node": "Set Config", "type": "main", "index": 0 }]]
    },
    "Set Config": {
      "main": [[{ "node": "Drive — List CSVs", "type": "main", "index": 0 }]]
    },
    "Drive — List CSVs": {
      "main": [[{ "node": "Drive — Download each", "type": "main", "index": 0 }]]
    },
    "Drive — Download each": {
      "main": [[{ "node": "Parse CSVs → planning_media rows", "type": "main", "index": 0 }]]
    },
    "Parse CSVs → planning_media rows": {
      "main": [[{ "node": "Aggregate rows", "type": "main", "index": 0 }]]
    },
    "Aggregate rows": {
      "main": [[{ "node": "Supabase — Upsert planning_media", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
