n8n-workflows/drive-planning-media-sync.json
{
  "name": "Drive Planning Media Sync (Drean Pauta)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Schedule (hourly)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        0
      ]
    },
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -700,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Config — editar acá si cambia el folder o el año\nreturn [{\n  json: {\n    folderId: 'REPLACE_WITH_DREAN_PAUTA_FOLDER_ID',\n    year: 2026,\n  }\n}];\n"
      },
      "id": "node-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        100
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "operation": "list",
        "queryString": "='\"' + $('Set Config').first().json.folderId + '\" in parents and (mimeType=\"text/csv\" or name contains \".csv\") and trashed=false'",
        "limit": 100,
        "options": {}
      },
      "id": "node-drive-list",
      "name": "Drive — List CSVs",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -300,
        100
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/csv",
              "sheetsToFormat": "text/csv"
            }
          },
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "node-drive-download",
      "name": "Drive — Download each",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -100,
        100
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const MONTHS = {\n  'enero':1,'febrero':2,'marzo':3,'abril':4,'mayo':5,'junio':6,\n  'julio':7,'agosto':8,'septiembre':9,'octubre':10,'noviembre':11,'diciembre':12,\n};\nconst MONTHS_NAMES = [\n  'Enero','Febrero','Marzo','Abril','Mayo','Junio',\n  'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'\n];\n\nconst normalizeCategoria = (raw) => {\n  const s = (raw || '').replace(/[-_]/g, ' ').trim();\n  const lower = s.toLowerCase();\n  if (lower.startsWith('cocina')) return 'Cocina';\n  if (lower.startsWith('refriger')) return 'Refrigeración';\n  if (lower.startsWith('lavado')) return 'Lavado';\n  if (lower.startsWith('brand')) return 'Brand';\n  if (lower.startsWith('promo')) return 'Promoción';\n  if (lower.startsWith('ugc')) return 'UGC';\n  return s.charAt(0).toUpperCase() + s.slice(1).toLowerCase();\n};\n\nconst parseCSVLine = (line) => {\n  const out = [];\n  let cur = '';\n  let inQ = false;\n  for (let i = 0; i < line.length; i++) {\n    const ch = line[i];\n    if (ch === '\"' && line[i+1] === '\"') { cur += '\"'; i++; }\n    else if (ch === '\"') { inQ = !inQ; }\n    else if (ch === ',' && !inQ) { out.push(cur); cur = ''; }\n    else { cur += ch; }\n  }\n  out.push(cur);\n  return out.map(c => c.trim());\n};\n\nconst parseCurrency = (v) => {\n  if (v === null || v === undefined || v === '') return null;\n  const s = String(v).trim();\n  if (s === '-' || s === '$-' || s === '$ -' || s === '$0' || s === '$ 0') return 0;\n  const cleaned = s.replace(/[\\s$]/g, '').replace(/\\./g, '').replace(',', '.');\n  const n = Number(cleaned);\n  return Number.isFinite(n) ? n : null;\n};\n\nconst COSTO_PATTERNS = [/iibb/i, /percep/i, /cheque/i, /impuesto/i, /tech\\s*fee/i, /comisi/i];\nconst esCosto = (formato) => formato && COSTO_PATTERNS.some(re => re.test(formato));\n\nconst SKIP_PATTERNS = [\n  /^Total\\s*ON$/i, /^Total\\s*OFF$/i, /^Total\\s*OFF\\s*\\/\\s*ON$/i,\n  /^Total$/i, /^Total\\s/i, /^Subtotal/i,\n  /Vs\\s*Forecast/i, /^Forecast$/i, /^Dif$/i, /Diferencia/i,\n  /^FX$/i, /^Tipo\\s*de\\s*cambio/i,\n  /^Sin\\s*formato/i,\n];\nconst esPct = (v) => v && /^\\d+[.,]?\\d*\\s*%$/.test(v);\nconst esSkip = (sistema, formato, rol) => {\n  for (const f of [rol, sistema, formato]) {\n    if (!f) continue;\n    if (SKIP_PATTERNS.some(re => re.test(f))) return true;\n  }\n  if (esCosto(formato)) return false;\n  const isDash = v => !v || /^\\$?\\s*-+\\s*$/.test(v);\n  if (isDash(sistema) && isDash(formato)) return true;\n  if (sistema && /^\\$\\s*[\\d.,]+$/.test(sistema)) return true;\n  if (esPct(sistema)) return true;\n  return false;\n};\n\nconst config = $('Set Config').first().json;\nconst YEAR = config.year || 2026;\n\nconst rows = [];\nconst items = $input.all();\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const binaryKey = Object.keys(item.binary || {})[0];\n  if (!binaryKey) continue;\n  const bin = item.binary[binaryKey];\n  const filename = bin.fileName || item.json.name || '';\n\n  const m = filename.match(/^([A-Za-zÁÉÍÓÚáéíóúñÑ]+)[-_\\s]+(.+?)\\.csv$/i);\n  if (!m) continue;\n  const campania = normalizeCategoria(m[2]);\n\n  const buffer = await this.helpers.getBinaryDataBuffer(i, binaryKey);\n  const csvText = buffer.toString('utf-8');\n  const allLines = csvText.split(/\\r?\\n/);\n\n  let headerIdx = -1;\n  let headers = [];\n  for (let r = 0; r < Math.min(allLines.length, 30); r++) {\n    const cells = parseCSVLine(allLines[r]);\n    const hasRol = cells.some(c => /Rol\\s*Of\\s*Comms/i.test(c));\n    const hasSis = cells.some(c => /^Sistema$/i.test(c));\n    const hasFmt = cells.some(c => /Formato/i.test(c));\n    if (hasRol || (hasSis && hasFmt)) {\n      headerIdx = r;\n      headers = cells;\n      break;\n    }\n  }\n  if (headerIdx < 0) continue;\n\n  const idx = (...names) => {\n    for (const n of names) {\n      const k = headers.findIndex(h => h.toLowerCase() === n.toLowerCase());\n      if (k >= 0) return k;\n    }\n    return -1;\n  };\n\n  const iRol   = idx('Rol Of Comms', 'Rol', 'Rol of Comms');\n  const iTouch = idx('TouchPoint', 'Touchpoint', 'Touch Point');\n  const iSis   = idx('Sistema', 'Plataforma', 'Platform');\n  const iFmt   = idx('Formato & Channel', 'Formato', 'Formato y Channel', 'Format');\n\n  const monthCols = [];\n  for (let mn = 1; mn <= 12; mn++) {\n    const mesName = MONTHS_NAMES[mn - 1];\n    const k = headers.findIndex(h => h.toLowerCase() === mesName.toLowerCase());\n    if (k >= 0) monthCols.push({ mesNum: mn, idx: k });\n  }\n  const iInvGen = idx('Inversion', 'Inversión', 'Inv', 'Invertido', 'Total');\n  if (monthCols.length === 0 && iInvGen < 0) continue;\n\n  let fallbackFecha = null;\n  if (monthCols.length === 0) {\n    const mesRaw = m[1].toLowerCase().normalize('NFD').replace(/[̀-ͯ]/g, '');\n    const mesNum = MONTHS[mesRaw];\n    if (!mesNum) continue;\n    fallbackFecha = `${YEAR}-${String(mesNum).padStart(2,'0')}-01`;\n  }\n\n  for (let r = headerIdx + 1; r < allLines.length; r++) {\n    const line = allLines[r];\n    if (!line || !line.trim()) continue;\n    const cols = parseCSVLine(line);\n    if (cols.length === 0) continue;\n\n    const rol     = iRol   >= 0 ? cols[iRol]   : '';\n    const touch   = iTouch >= 0 ? cols[iTouch] : '';\n    let   sistema = iSis   >= 0 ? cols[iSis]   : '';\n    const formato = iFmt   >= 0 ? cols[iFmt]   : '';\n\n    if (esSkip(sistema, formato, rol)) continue;\n    if (!sistema && !formato) continue;\n\n    const isCost = esCosto(formato);\n    if (isCost && esPct(sistema)) sistema = '';\n\n    const pushRow = (fecha, inversion) => {\n      rows.push({\n        fecha,\n        campania,\n        rol: rol || null,\n        touchpoint: touch || null,\n        sistema: sistema || null,\n        formato: formato || null,\n        inversion,\n        tipo: isCost ? 'costo' : 'media',\n      });\n    };\n\n    if (monthCols.length > 0) {\n      for (const mc of monthCols) {\n        const inv = parseCurrency(cols[mc.idx]);\n        if (inv === null || inv === 0) continue;\n        const fecha = `${YEAR}-${String(mc.mesNum).padStart(2,'0')}-01`;\n        pushRow(fecha, inv);\n      }\n    } else {\n      const inv = parseCurrency(cols[iInvGen]);\n      if (inv === null || inv === 0) continue;\n      pushRow(fallbackFecha, inv);\n    }\n  }\n}\n\nconst agg = new Map();\nfor (const r of rows) {\n  const key = [r.fecha, r.campania, r.rol || '', r.sistema || '', r.formato || '', r.tipo].join('|');\n  const prev = agg.get(key);\n  if (prev) {\n    prev.inversion += r.inversion;\n    if (r.touchpoint && prev.touchpoint && !prev.touchpoint.includes(r.touchpoint)) {\n      prev.touchpoint = prev.touchpoint + ' / ' + r.touchpoint;\n    } else if (r.touchpoint && !prev.touchpoint) {\n      prev.touchpoint = r.touchpoint;\n    }\n  } else {\n    agg.set(key, { ...r });\n  }\n}\n\nreturn Array.from(agg.values()).map(j => ({ json: j }));\n"
      },
      "id": "node-parse",
      "name": "Parse CSVs → planning_media rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        100
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "node-aggregate",
      "name": "Aggregate rows",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        340,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/planning_media?on_conflict=fecha,campania,rol,sistema,formato,tipo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.data) }}",
        "options": {}
      },
      "id": "node-supabase-upsert",
      "name": "Supabase — Upsert planning_media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        100
      ]
    }
  ],
  "connections": {
    "Schedule (hourly)": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Drive — List CSVs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive — List CSVs": {
      "main": [
        [
          {
            "node": "Drive — Download each",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive — Download each": {
      "main": [
        [
          {
            "node": "Parse CSVs → planning_media rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSVs → planning_media rows": {
      "main": [
        [
          {
            "node": "Aggregate rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate rows": {
      "main": [
        [
          {
            "node": "Supabase — Upsert planning_media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}