n8n-workflows/ga4-monthly-users-sync.json
{
  "name": "GA4 Monthly Users (Unique per month)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-700, 200]
    },
    {
      "parameters": {
        "jsCode": "// Cambiar startDate al primer día del mes a cargar. endDate = último día.\n// Ejemplos:\n//   Enero:  startDate '2026-01-01', endDate '2026-01-31'\n//   Febrero:'2026-02-01', '2026-02-28'\n//   Marzo:  '2026-03-01', '2026-03-31'\n//   Abril:  '2026-04-01', '2026-04-30'\nreturn [{ json: { startDate: '2026-01-01', endDate: '2026-01-31' } }];\n"
      },
      "id": "node-config",
      "name": "Set Config (month)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-500, 200]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyId": "250596979",
        "dateRangesUi": {
          "dateRangeValues": [
            {
              "startDate": "={{ $('Set Config (month)').first().json.startDate }}",
              "endDate":   "={{ $('Set Config (month)').first().json.endDate }}"
            }
          ]
        },
        "metricsUi": {
          "metricValues": [
            { "metricName": "totalUsers" },
            { "metricName": "newUsers" },
            { "metricName": "sessions" },
            { "metricName": "screenPageViews" }
          ]
        },
        "dimensionsUi": {
          "dimensionValues": []
        },
        "limit": 10,
        "returnAll": true,
        "additionalFields": {}
      },
      "id": "node-ga4",
      "name": "GA4 — Total Users (no date dim)",
      "type": "n8n-nodes-base.googleAnalytics",
      "typeVersion": 2,
      "position": [-280, 200],
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "REPLACE_WITH_GA_CREDENTIAL_ID",
          "name": "Google Analytics account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Sin dimensión date, GA4 devuelve 1 row con totals del período.\nconst row = $input.first().json;\nconst config = $('Set Config (month)').first().json;\nconst toInt = (v) => {\n  const n = Number(v ?? 0);\n  return Number.isFinite(n) ? Math.round(n) : 0;\n};\nreturn [{\n  json: {\n    mes: config.startDate,\n    total_users: toInt(row.totalUsers),\n    new_users: toInt(row.newUsers),\n    sesiones: toInt(row.sessions),\n    pageviews: toInt(row.screenPageViews),\n  },\n}];\n"
      },
      "id": "node-normalize",
      "name": "Normalize row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-60, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/ga4_monthly_users?on_conflict=mes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify([$json]) }}",
        "options": {}
      },
      "id": "node-supabase",
      "name": "Supabase — Upsert ga4_monthly_users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [160, 200]
    }
  ],
  "connections": {
    "Manual trigger": {
      "main": [[{ "node": "Set Config (month)", "type": "main", "index": 0 }]]
    },
    "Set Config (month)": {
      "main": [[{ "node": "GA4 — Total Users (no date dim)", "type": "main", "index": 0 }]]
    },
    "GA4 — Total Users (no date dim)": {
      "main": [[{ "node": "Normalize row", "type": "main", "index": 0 }]]
    },
    "Normalize row": {
      "main": [[{ "node": "Supabase — Upsert ga4_monthly_users", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
