n8n-workflows/ga4-purchases-only-sync.json
{
  "name": "GA4 Purchases Only (Backfill)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-700, 200]
    },
    {
      "parameters": {
        "jsCode": "// Cambiá las fechas para cada backfill (Ene/Feb/Mar/Abr).\nreturn [{ json: { startDate: '2026-01-01', endDate: '2026-01-31' } }];\n"
      },
      "id": "node-config",
      "name": "Set Config (date range)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-500, 200]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyId": "250596979",
        "dateRangesUi": {
          "dateRangeValues": [
            {
              "startDate": "={{ $('Set Config (date range)').first().json.startDate }}",
              "endDate":   "={{ $('Set Config (date range)').first().json.endDate }}"
            }
          ]
        },
        "metricsUi": {
          "metricValues": [
            { "metricName": "eventCount" }
          ]
        },
        "dimensionsUi": {
          "dimensionValues": [
            { "name": "date" },
            { "name": "sessionSource" },
            { "name": "sessionMedium" },
            { "name": "sessionCampaignName" },
            { "name": "eventName" }
          ]
        },
        "limit": 100000,
        "returnAll": true,
        "additionalFields": {}
      },
      "id": "node-ga4-events",
      "name": "GA4 — Events by Name",
      "type": "n8n-nodes-base.googleAnalytics",
      "typeVersion": 2,
      "position": [-280, 200],
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "REPLACE_WITH_GA_CREDENTIAL_ID",
          "name": "Google Analytics account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filtra solo events 'purchase' y normaliza para ga4_purchases_daily.\n// Agrega por (fecha, source, medium, campaign) sumando eventCount.\n\nconst PURCHASE_EVENT = 'purchase';\n\nconst toIsoDate = (raw) => {\n  const s = String(raw ?? '');\n  if (/^\\d{8}$/.test(s)) return `${s.slice(0,4)}-${s.slice(4,6)}-${s.slice(6,8)}`;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  return null;\n};\n\nconst normalizeUtm = (raw) => {\n  if (raw === null || raw === undefined) return null;\n  const s = String(raw).trim().toLowerCase();\n  if (!s || s === '(not set)' || s === '(none)') return null;\n  return s\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/\\s+/g, '-')\n    .replace(/[^a-z0-9\\-_().]/g, '');\n};\n\nconst toInt = (v) => {\n  const n = Number(v ?? 0);\n  return Number.isFinite(n) ? Math.round(n) : 0;\n};\n\nconst keyOf = (r) => `${r.fecha}|${r.utm_source ?? ''}|${r.utm_medium ?? ''}|${r.utm_campaign ?? ''}`;\n\nconst agg = new Map();\nfor (const item of $input.all()) {\n  const r = item.json;\n  if (String(r.eventName ?? '').toLowerCase() !== PURCHASE_EVENT) continue;\n  const fecha = toIsoDate(r.date);\n  if (!fecha) continue;\n  const row = {\n    fecha,\n    utm_source: normalizeUtm(r.sessionSource),\n    utm_medium: normalizeUtm(r.sessionMedium),\n    utm_campaign: normalizeUtm(r.sessionCampaignName),\n    purchases: toInt(r.eventCount),\n  };\n  const k = keyOf(row);\n  const prev = agg.get(k);\n  if (prev) prev.purchases += row.purchases;\n  else agg.set(k, row);\n}\nreturn [...agg.values()].map(j => ({ json: j }));\n"
      },
      "id": "node-normalize",
      "name": "Filter purchases + normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-60, 200]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "node-aggregate",
      "name": "Aggregate rows",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [160, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/ga4_purchases_daily?on_conflict=fecha,utm_source,utm_medium,utm_campaign",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.data) }}",
        "options": {}
      },
      "id": "node-supabase-upsert",
      "name": "Supabase — Upsert ga4_purchases_daily",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [380, 200]
    }
  ],
  "connections": {
    "Manual trigger": {
      "main": [[{ "node": "Set Config (date range)", "type": "main", "index": 0 }]]
    },
    "Set Config (date range)": {
      "main": [[{ "node": "GA4 — Events by Name", "type": "main", "index": 0 }]]
    },
    "GA4 — Events by Name": {
      "main": [[{ "node": "Filter purchases + normalize", "type": "main", "index": 0 }]]
    },
    "Filter purchases + normalize": {
      "main": [[{ "node": "Aggregate rows", "type": "main", "index": 0 }]]
    },
    "Aggregate rows": {
      "main": [[{ "node": "Supabase — Upsert ga4_purchases_daily", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
