n8n-workflows/sheets-planning-media-sync.json
{
  "name": "Sheets Planning Media Sync (Drean Pauta)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "hours", "hoursInterval": 1 }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Schedule (hourly)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-600, 0]
    },
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-600, 200]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_DREAN_PAUTA_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Pauta",
          "mode": "name"
        },
        "options": {
          "headerRow": 1
        }
      },
      "id": "node-sheets-read",
      "name": "Google Sheets — Read Pauta",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [-360, 100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Desempivota el Sheet wide-format (12 columnas de meses) a long-format\n// (una fila por mes con inversión > 0). Detecta líneas de costo por nombre\n// del formato y separa en tipo='media' vs tipo='costo'.\n\nconst MONTHS = {\n  'Enero': 1, 'Febrero': 2, 'Marzo': 3, 'Abril': 4,\n  'Mayo': 5, 'Junio': 6, 'Julio': 7, 'Agosto': 8,\n  'Septiembre': 9, 'Octubre': 10, 'Noviembre': 11, 'Diciembre': 12,\n};\n\n// Año por default — el Sheet de Drean tiene un header '2026' arriba; si en\n// el futuro cambia, ajustar acá o leer de una celda del Sheet.\nconst YEAR = 2026;\n\n// Patrones que identifican líneas de costo (no de media)\nconst COSTO_PATTERNS = [\n  /percep/i,      // PERCEPCIÓN IIBB\n  /iibb/i,\n  /impuesto/i,    // Impuesto al cheque\n  /cheque/i,\n  /tech\\s*fee/i,  // Tech Fee Programm / YouTube\n  /comisi/i,      // Comisión Agencia\n];\n\nconst esCosto = (formato) => {\n  if (!formato) return false;\n  return COSTO_PATTERNS.some((re) => re.test(String(formato)));\n};\n\n// Líneas \"resumen\" del Sheet que NO queremos sincronizar (Total OFF, Total ON, etc.)\nconst SKIP_PATTERNS = [\n  /^Total\\s+/i,\n  /^Total\\s*$/i,\n  /^Subtotal/i,\n];\n\nconst esSkip = (sistema, formato) => {\n  const txt = [sistema, formato].filter(Boolean).join(' ');\n  return SKIP_PATTERNS.some((re) => re.test(txt));\n};\n\nconst parseCurrency = (v) => {\n  if (v === null || v === undefined || v === '') return null;\n  const s = String(v).trim();\n  if (s === '-' || s === '$-' || s === '$ -' || s === '$0' || s === '$ 0') return 0;\n  // Limpia $ . , y espacios — formato AR usa . como separador de miles y , como decimal\n  const cleaned = s.replace(/[\\s$]/g, '').replace(/\\./g, '').replace(',', '.');\n  const n = Number(cleaned);\n  return Number.isFinite(n) ? n : null;\n};\n\nconst output = [];\nlet skipped = 0;\nlet emptyRows = 0;\n\nfor (const item of items) {\n  const r = item.json;\n\n  const campania   = String(r['Campaña'] || r['Campana'] || r['Categoría'] || '').trim();\n  const rol        = String(r['Rol Of Comms'] || r['Rol'] || '').trim() || null;\n  const touchpoint = String(r['TouchPoint'] || r['Touchpoint'] || '').trim() || null;\n  const sistema    = String(r['Sistema'] || '').trim();\n  const formato    = String(r['Formato & Channel'] || r['Formato'] || r['Formato y Channel'] || '').trim();\n\n  if (!campania) { emptyRows++; continue; }\n  if (esSkip(sistema, formato)) { skipped++; continue; }\n\n  const tipo = esCosto(formato) ? 'costo' : 'media';\n\n  for (const [monthName, monthNum] of Object.entries(MONTHS)) {\n    const raw = r[monthName];\n    const inversion = parseCurrency(raw);\n    if (inversion === null || inversion === 0) continue;\n\n    const fecha = `${YEAR}-${String(monthNum).padStart(2, '0')}-01`;\n    output.push({\n      json: {\n        fecha,\n        campania,\n        rol,\n        touchpoint,\n        sistema: sistema || null,\n        formato: formato || null,\n        inversion,\n        tipo,\n      },\n    });\n  }\n}\n\nif (skipped || emptyRows) {\n  console.warn(`Planning media unpivot: ${output.length} filas generadas. Skipped (Total/Subtotal): ${skipped}. Empty rows: ${emptyRows}.`);\n}\n\nreturn output;\n"
      },
      "id": "node-unpivot",
      "name": "Unpivot wide -> long",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-120, 100]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "node-aggregate",
      "name": "Aggregate rows",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [120, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/planning_media?on_conflict=fecha,campania,rol,sistema,formato,tipo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.data) }}",
        "options": {}
      },
      "id": "node-supabase-upsert",
      "name": "Supabase — Upsert planning_media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [360, 100]
    }
  ],
  "connections": {
    "Schedule (hourly)": {
      "main": [[{ "node": "Google Sheets — Read Pauta", "type": "main", "index": 0 }]]
    },
    "Manual trigger": {
      "main": [[{ "node": "Google Sheets — Read Pauta", "type": "main", "index": 0 }]]
    },
    "Google Sheets — Read Pauta": {
      "main": [[{ "node": "Unpivot wide -> long", "type": "main", "index": 0 }]]
    },
    "Unpivot wide -> long": {
      "main": [[{ "node": "Aggregate rows", "type": "main", "index": 0 }]]
    },
    "Aggregate rows": {
      "main": [[{ "node": "Supabase — Upsert planning_media", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
